@page
@model Mona_Amiri.Pages.Reservation.IndexModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="SHORTCUT ICON" href="~/favicon.ico" />
  <link rel="stylesheet" href="~/css/main.css" />
  <link rel="stylesheet" href="~/css/Reservation.css" />
  <link rel="stylesheet" href="~/css/persianDatepicker-lightorang.css" />

  <link href="~/fonts/fontiran.css" rel="stylesheet" />
  <title>مونا امیری - رزرو نوبت</title>
</head>

<body class="font-yekanBakh">
  <p>@TempData["Test"]</p>
  <div class="container mx-auto w-screen h-screen my-20">
    <div class="flex justify-center px-8">
      <!-- Row -->
      <div class="w-full xl:w-3/4 lg:w-11/12 flex border border-orange-400 shadow-lg rounded-lg overflow-hidden">
        <!-- Col -->
        <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover bg-orange-400"
             style="background-image: url('/images/Reserve-bg.png')"></div>
        <!-- Col -->
        <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
          <h3 class="pt-4 text-2xl text-center">فرم رزرو نوبت</h3>
          <form asp-page-handler="SendSms" class="px-8 pt-6 pb-8 mb-4 space-y-8 bg-white rounded">
            <div class="mb-4 md:flex md:justify-between gap-4">
              <div asp-validation-summary="ModelOnly" class="text-red-400"></div>
              <div class="w-full mb-4 md:mr-2 md:mb-0">
                <label asp-for="Input.Name" class="block mb-2 text-sm font-bold text-gray-700"></label>
                <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                       asp-for="Input.Name"
                       type="text"
                       aria-required="true"
                       placeholder="نام شما" />
                <span asp-validation-for="Input.Name" class="text-red-400"></span>
              </div>

              <div class="w-full md:ml-2">
                <label asp-for="Input.PhoneNumber" class="block mb-2 text-sm font-bold text-gray-700"></label>
                <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                       asp-for="Input.PhoneNumber"
                       type="text"
                       aria-required="true"
                       placeholder="شماره ی تماس" />
                <span asp-validation-for="Input.PhoneNumber" class="text-red-400"></span>
              </div>
            </div>

            <div class="mb-4 md:mx-2">
              <label asp-for="Input.MakeupArtistId" class="block mb-2 text-sm font-bold text-gray-700"></label>
              <select class="w-full text-sm font-semibold text-gray-700 rounded shadow" asp-for="Input.MakeupArtistId" id="makeupArtistSelect">
                @foreach (var makeupArtist in Model.MakeupArtistList)
                {
                  <option class="text-sm font-semibold text-gray-500" value="@makeupArtist.Id">
                    @makeupArtist.Name
                  </option>
                }
              </select>
              <span asp-validation-for="Input.MakeupArtistId" class="text-red-400"></span>
            </div>

            <div class="mb-4 md:mx-2">
              <label asp-for="Input.ServiceId" class="block mb-2 text-sm font-bold text-gray-700"></label>
              <select class="w-full text-sm font-semibold rounded shadow" asp-for="Input.ServiceId" id="serviceSelect" required>
                <option class="text-sm font-semibold text-gray-700" value="">انتخاب سرویس</option>
                @foreach (var makeupArtist in Model.MakeupArtistList)
                {
                  @foreach (var service in makeupArtist.Services)
                  {
                    <option class="text-sm font-semibold text-gray-500" data-id="@makeupArtist.Id" value="@service.Id">@service.Name - @service.Price <span class="text-[12px] font-bold text-gray-500">تومان</span></option>
                  }
                }
              </select>
              <span asp-validation-for="Input.ServiceId" class="text-red-400"></span>
            </div>

            <div class="mb-4 md:mx-2">
              <label asp-for="Input.DayDate" class="block mb-2 text-sm font-bold text-gray-700"></label>
              <input id="ChooseDate" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                     asp-for="Input.DayDate"
                     type="text"
                     aria-required="true"
                     placeholder="انتخاب تاریخ"
                     readonly="true"
                     autocomplete="off" />
              <span asp-validation-for="Input.DayDate" class="text-red-400"></span>
            </div>

            <div class="mb-6 text-center">
              <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                      type="submit">
                رزرو نوبت
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script src="~/js/jquery-1.10.1.min.js" asp-append-version="true"></script>
<script src="~/js/persianDatepicker.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
  var p = new persianDate();

  $("#ChooseDate").persianDatepicker({
    theme: 'lightorang',
    startDate: p.now().addDay(1).toString("YYYY/MM/DD"),
    endDate: p.now().addDay(14).toString("YYYY/MM/DD"),
  });

  document.getElementById("ChooseDate").addEventListener("change", () => {
    alert(document.getElementById("ChooseDate").value)
  })

  // Get references to the select boxes
  const makeupArtistSelect = document.getElementById('makeupArtistSelect');
  const serviceSelect = document.getElementById('serviceSelect');

  // Function to update the service options based on the selected makeup artist
  function updateServiceOptions() {
    serviceSelect.value = '';
    // Get the selected makeup artist's ID
    const selectedMakeupArtistId = makeupArtistSelect.value;

    // Loop through all service options
    const serviceOptions = serviceSelect.options;
    for (let i = 0; i < serviceOptions.length; i++) {
      const option = serviceOptions[i];
      const optionMakeupArtistId = option.getAttribute('data-id');

      // Set display property to 'none' for options that do not match the selected makeup artist id
      option.style.display = optionMakeupArtistId === selectedMakeupArtistId || option.value === '' ? 'block' : 'none';
    }
  }

  // Call the updateServiceOptions function when the makeup artist selection changes
  makeupArtistSelect.addEventListener('change', updateServiceOptions);

  // Call the function on page load to set the initial service options
  updateServiceOptions();
</script>