@page
@using Mona_Amiri.Services;
@model Mona_Amiri.Areas.User.Pages.Manage.Service.IndexModel
@{
  ViewData["Title"] = "خدمات شخصی";
}

<div class="flex flex-col w-full gap-8 mx-auto">
  <p class="text-center md:text-right">مدیریت خدمات</p>
  <hr />
  <div class="flex items-center gap-8">
    <a asp-area="User" asp-page="/Manage/Service/AddService" class="text-center p-[12px] w-[180px] text-white bg-green-500 rounded shadow">افزودن خدمات جدید</a>
  </div>
  @if (Model.ServiceList.Count > 0)
  {
    <ul role="list" class="grid grid-cols-1 gap-6 lg:grid-cols-2 xl:grid-cols-3 max-w-[1440px]">
      @foreach (var service in Model.ServiceList)
      {
        <li class="col-span-1 rounded-lg bg-white shadow w-full h-[305px] overflow-hidden text-gray-600">
          <div class="flex items-center justify-between w-full h-20 bg-gray-50 p-4 border-b">
            <div class="flex items-center gap-4">
              <img class="w-16 rounded-lg shadow" src="~/images/Makeup.jpg" alt="Makeup" />
              <p class="font-semibold">@service.Name</p>
            </div>
            <div class="flex items-center gap-4">
              <a asp-area="User" asp-page="/Manage/Service/EditService" asp-route-id="@service.Id"><img class="w-7 cursor-pointer" src="~/images/Edit.svg" alt="Edit" /></a>
              <img class="w-5 cursor-pointer" src="~/images/Delete.svg" alt="Delete" />
            </div>
          </div>

          <div class="divide-y divide-gray-200 p-4">
            <div class="flex items-center justify-between gap-4 pb-4 pt-2">
              <p>هزینه</p>
              <p>@service.PersianPrice<span class="text-xs font-semibold text-gray-400">تومان</span></p>
            </div>

            <div class="flex items-center justify-between gap-4 pt-4 pb-2">
              <p>زمان مورد نیاز</p>
              <p class="p-1 bg-yellow-200 rounded-lg">@service.Duration</p>
            </div>

            <div class="flex flex-col justify-between gap-4 pt-4 pb-2">
              <p>توضیحات</p>
              <p class="text-sm font-semibold text-gray-400" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@service.Description</p>
            </div>
          </div>
        </li>
      }
    </ul>
  }
  else
  {
    <div class="rounded-md bg-yellow-50 p-4 w-fit">
      <div class="flex gap-2">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
        </div>
        <div>
          <h3 class="text-sm font-medium text-yellow-800">خدماتی یافت نشد</h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>برای ساختن خدمات جدید بر روی دکمه ی افزودن خدمات کلیک کنید</p>
          </div>
        </div>
      </div>
    </div>
  }
</div>